<h1>Editing Library</h1>

<%= render 'form', library: @library %>

<br>

<%= hide_admin_action(link_to "Back", library_path(@library)) %>
<% if current_student %>
  <%= link_to "Back", school_library_path(@library) %>
<% end %>
