<h1>New Library</h1>

<%= render 'form', library: @library %>

<br>

<%= hide_admin_action(link_to "Back", libraries_path) %>
<% if current_student %>
  <%= link_to "Back", school_libraries_path(current_student.school) %>
<% end %>
