<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<br>

<%= hide_admin_action(link_to "Back", @book) %>
<% if current_student %>
  <%= link_to "Back", school_book_path(@book.library.school, @book) %>
<% end %>
