<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<%= link_to "Show", @book %>
<%= hide_admin_action(link_to "Back", admin_books_path(current_admin)) %>
<% if current_student %>
  <%= link_to "Back", school_books_path(@book.library.school) %>
<% end %>

