<h1>New Book</h1>

<%= render 'form', book: @book %>

<br>

<%= hide_admin_action(link_to "Back", books_path) %>
<% if current_student %>
  <%= link_to "Back", school_books_path(current_student.school) %>
<% end %>
